# # Observation Implications
# (implies O1Y (xor C1Y C1B))

C1B C1Y -O1Y
-C1Y C1Y -O1Y
C1B -C1B -O1Y
-C1Y -C1B -O1Y

# (implies O1W (xor C1W C1B))

C1B C1W -O1W
-C1W C1W -O1W
C1B -C1B -O1W
-C1W -C1B -O1W

# (implies O2Y (xor C2Y C2B))

C2B C2Y -O2Y
-C2Y C2Y -O2Y
C2B -C2B -O2Y
-C2Y -C2B -O2Y

# (implies O2W (xor C2W C2B))

C2B C2W -O2W
-C2W C2W -O2W
C2B -C2B -O2W
-C2W -C2B -O2W

# (implies O3Y (xor C3Y C3B))

C3B C3Y -O3Y
-C3Y C3Y -O3Y
C3B -C3B -O3Y
-C3Y -C3B -O3Y

# (implies O3W (xor C3W C3B))

C3B C3W -O3W
-C3W C3W -O3W
C3B -C3B -O3W
-C3W -C3B -O3W

# 
# # Incorrect Labels Implications
# (implies L1Y (not C1Y))

-L1Y -C1Y

# (implies L2Y (not C2Y))

-L2Y -C2Y

# (implies L3Y (not C3Y))

-L3Y -C3Y

# (implies L1W (not C1W))

-L1W -C1W

# (implies L2W (not C2W))

-L2W -C2W

# (implies L3W (not C3W))

-L3W -C3W

# (implies L1B (not C1B))

-L1B -C1B

# (implies L2B (not C2B))

-L2B -C2B

# (implies L3B (not C3B))

-L3B -C3B

# 
# # Exactly One Box of Each Color Implications
# # There exists exactly 1 box of each color-content
# (or (and C1Y (not C1W) (not C1B)) (and C1W (not C1Y) (not C1B)) (and C1B (not C1W) (not C1Y)))

C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B C1W C1Y
-C1W C1W C1Y
-C1Y C1W C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1Y C1Y
-C1W -C1Y C1Y
-C1Y -C1Y C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B -C1B C1Y
-C1W -C1B C1Y
-C1Y -C1B C1Y
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B C1W -C1W
-C1W C1W -C1W
-C1Y C1W -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1Y -C1W
-C1W -C1Y -C1W
-C1Y -C1Y -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B -C1B -C1W
-C1W -C1B -C1W
-C1Y -C1B -C1W
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B C1W -C1B
-C1W C1W -C1B
-C1Y C1W -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1Y -C1B
-C1W -C1Y -C1B
-C1Y -C1Y -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B
C1B -C1B -C1B
-C1W -C1B -C1B
-C1Y -C1B -C1B

# (or (and C2Y (not C2W) (not C2B)) (and C2W (not C2Y) (not C2B)) (and C2B (not C2W) (not C2Y)))

C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B C2W C2Y
-C2W C2W C2Y
-C2Y C2W C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2Y C2Y
-C2W -C2Y C2Y
-C2Y -C2Y C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B -C2B C2Y
-C2W -C2B C2Y
-C2Y -C2B C2Y
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B C2W -C2W
-C2W C2W -C2W
-C2Y C2W -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2Y -C2W
-C2W -C2Y -C2W
-C2Y -C2Y -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B -C2B -C2W
-C2W -C2B -C2W
-C2Y -C2B -C2W
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B C2W -C2B
-C2W C2W -C2B
-C2Y C2W -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2Y -C2B
-C2W -C2Y -C2B
-C2Y -C2Y -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B
C2B -C2B -C2B
-C2W -C2B -C2B
-C2Y -C2B -C2B

# (or (and C3Y (not C3W) (not C3B)) (and C3W (not C3Y) (not C3B)) (and C3B (not C3W) (not C3Y)))

C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B C3W C3Y
-C3W C3W C3Y
-C3Y C3W C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3Y C3Y
-C3W -C3Y C3Y
-C3Y -C3Y C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B -C3B C3Y
-C3W -C3B C3Y
-C3Y -C3B C3Y
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B C3W -C3W
-C3W C3W -C3W
-C3Y C3W -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3Y -C3W
-C3W -C3Y -C3W
-C3Y -C3Y -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B -C3B -C3W
-C3W -C3B -C3W
-C3Y -C3B -C3W
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B C3W -C3B
-C3W C3W -C3B
-C3Y C3W -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3Y -C3B
-C3W -C3Y -C3B
-C3Y -C3Y -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B
C3B -C3B -C3B
-C3W -C3B -C3B
-C3Y -C3B -C3B

# 
# # There exists no more than 1 box of the same contents
# (implies C1Y (and (not C2Y) (not C3Y)))

-C2Y -C1Y
-C3Y -C1Y

# (implies C1W (and (not C2W) (not C3W)))

-C2W -C1W
-C3W -C1W

# (implies C1B (and (not C2B) (not C3B)))

-C2B -C1B
-C3B -C1B

# (implies C2Y (and (not C1Y) (not C3Y)))

-C1Y -C2Y
-C3Y -C2Y

# (implies C2W (and (not C1W) (not C3W)))

-C1W -C2W
-C3W -C2W

# (implies C2B (and (not C1B) (not C3B)))

-C1B -C2B
-C3B -C2B

# (implies C3Y (and (not C2Y) (not C1Y)))

-C2Y -C3Y
-C1Y -C3Y

# (implies C3W (and (not C2W) (not C1W)))

-C2W -C3W
-C1W -C3W

# (implies C3B (and (not C2B) (not C1B)))

-C2B -C3B
-C1B -C3B

# 
# # Only one observed ball per box
# (xor (and O1Y (not O1W)) (and O1W (not O1Y)))

O1W O1Y
-O1Y O1Y
-O1Y O1W O1Y
O1W -O1W
-O1Y -O1W
-O1Y O1W -O1W
O1W -O1W O1Y
-O1Y -O1W O1Y
-O1Y O1W -O1W O1Y

# (xor (and O2Y (not O2W)) (and O2W (not O2Y)))

O2W O2Y
-O2Y O2Y
-O2Y O2W O2Y
O2W -O2W
-O2Y -O2W
-O2Y O2W -O2W
O2W -O2W O2Y
-O2Y -O2W O2Y
-O2Y O2W -O2W O2Y

# (xor (and O3Y (not O3W)) (and O3W (not O3Y)))

O3W O3Y
-O3Y O3Y
-O3Y O3W O3Y
O3W -O3W
-O3Y -O3W
-O3Y O3W -O3W
O3W -O3W O3Y
-O3Y -O3W O3Y
-O3Y O3W -O3W O3Y

# 
# # Only one label per box
# (or (and L1Y (not L1W) (not L1B)) (and L1W (not L1Y) (not L1B)) (and L1B (not L1W) (not L1Y)))

L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B L1W L1Y
-L1W L1W L1Y
-L1Y L1W L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1Y L1Y
-L1W -L1Y L1Y
-L1Y -L1Y L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B -L1B L1Y
-L1W -L1B L1Y
-L1Y -L1B L1Y
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B L1W -L1W
-L1W L1W -L1W
-L1Y L1W -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1Y -L1W
-L1W -L1Y -L1W
-L1Y -L1Y -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B -L1B -L1W
-L1W -L1B -L1W
-L1Y -L1B -L1W
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B L1W -L1B
-L1W L1W -L1B
-L1Y L1W -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1Y -L1B
-L1W -L1Y -L1B
-L1Y -L1Y -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B
L1B -L1B -L1B
-L1W -L1B -L1B
-L1Y -L1B -L1B

# (or (and L2Y (not L2W) (not L2B)) (and L2W (not L2Y) (not L2B)) (and L2B (not L2W) (not L2Y)))

L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B L2W L2Y
-L2W L2W L2Y
-L2Y L2W L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2Y L2Y
-L2W -L2Y L2Y
-L2Y -L2Y L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B -L2B L2Y
-L2W -L2B L2Y
-L2Y -L2B L2Y
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B L2W -L2W
-L2W L2W -L2W
-L2Y L2W -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2Y -L2W
-L2W -L2Y -L2W
-L2Y -L2Y -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B -L2B -L2W
-L2W -L2B -L2W
-L2Y -L2B -L2W
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B L2W -L2B
-L2W L2W -L2B
-L2Y L2W -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2Y -L2B
-L2W -L2Y -L2B
-L2Y -L2Y -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B
L2B -L2B -L2B
-L2W -L2B -L2B
-L2Y -L2B -L2B

# (or (and L3Y (not L3W) (not L3B)) (and L3W (not L3Y) (not L3B)) (and L3B (not L3W) (not L3Y)))

L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B L3W L3Y
-L3W L3W L3Y
-L3Y L3W L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3Y L3Y
-L3W -L3Y L3Y
-L3Y -L3Y L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B -L3B L3Y
-L3W -L3B L3Y
-L3Y -L3B L3Y
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B L3W -L3W
-L3W L3W -L3W
-L3Y L3W -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3Y -L3W
-L3W -L3Y -L3W
-L3Y -L3Y -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B -L3B -L3W
-L3W -L3B -L3W
-L3Y -L3B -L3W
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B L3W -L3B
-L3W L3W -L3B
-L3Y L3W -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3Y -L3B
-L3W -L3Y -L3B
-L3Y -L3Y -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B
L3B -L3B -L3B
-L3W -L3B -L3B
-L3Y -L3B -L3B

